# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Environment variables
.env
.env.*
!.env.example

# EAS
.eas/

# Native
*.jks
*.p8
*.p12
*.key

# macOS
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*